/* Styling of fonts, scollbar, pages, and other utility classes. */

@font-face {
    font-family: 'MonoRegular';
    src: url('../fonts/MonoRegular.ttf');
}

@font-face {
    font-family: 'MonoBold';
    src: url('../fonts/MonoBold.ttf');
}

@font-face {
    font-family: 'MonoLight';
    src: url('../fonts/MonoLight.ttf');
}

body {
    color: #aaa;

    font-family: -apple-system, 'MonoBold', BlinkMacSystemFont, 'Segoe UI',
        Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';

    display: flex;
    flex-flow: column nowrap;

    margin: 0;
    padding: 0;

    width: 100dvw;
    height: 100dvh;

    overflow-x: hidden;
}

#root {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
}

main {
    flex-grow: 1;
}

::-webkit-scrollbar {
    background-color: #171717;
}

::-webkit-scrollbar-thumb {
    background-color: #373737;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ff5d5d;
}

.flex-centered {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

pre.error-data {
    background-color: #000000f0;
    padding: 1em;
    border-radius: 0.5em;
    border: solid 1px #310000;
    max-width: max(300px, 60dvw);
    overflow: auto;
    white-space: pre-wrap;
}
